# Version control
.git
.gitignore

# Environment variables
.env
.env.*

# Dependencies
node_modules
npm-debug.log

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Other
*.md
*.log
.DS_Store 